* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #080808;
	color: #fff;
}

#header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.container {
	padding: 10px 10%;
}

/*nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: fixed;
}*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #080808;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

 nav a.home {
 	text-decoration: none;
 	color: #fff;
 	font-size: 30px;
 	margin-left: 20px;
 	position: relative;
 }

 nav a.home::after {
 	content: '';
	width: 0%;
	height: 3px;
	background: #FF5733;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
 }

 nav a.home:hover::after {
 	width: 100%;
 }

 nav #sideMenu {
 	margin-left: auto;
 }

/*.logo {
	width: 140;
}*/

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li .home2 {
	left: auto;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

nav ul li a::after {
	content: '';
	width: 0%;
	height: 3px;
	background: #FF5733;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

nav ul li a:hover::after {
	width: 100%;
}


.header-text {
	margin-top: 32%;
	font-size: 30px;

}

.header-text h1 {
	font-size: 60px;
	margin-top: 20px;

}

.header-text h1 span {
	color: #FF5733;
}

/*About*/

#about {
	padding: 80px 0;
	color: #ababab;
}

.row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1 {
	flex-basis: 35%;

}

.about-col-1 img {
	width: 100%;
	border-radius: 15px;
}

.about-col-2 {
	flex-basis: 60%;

}

.sub-title {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}

.tab-titles {
	display: flex;
	margin: 20px 0 40px;

}

.tab-links {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: #FF5733;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 100%;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;

}

.tab-contents ul li span{
	color: #F0907C;
	font-size: 14px;
}

.tab-contents {
	display: none;
}

.tab-contents.active-tab {
	display: block;
}

/*Projects*/

#certificates {
	padding: 40px 0;
}

.certificates-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

/*.certificates-card {
	display: flex;
	flex-direction: column;
}

.view-certificate {
	align-self: flex-end;
}
*/
.certificates-list div {
	background: #262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s, transform 0.5s;

}

.certificates-list div p {
	font-size: 15px;
}


.certificates-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}

.certificates-list div a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
}

.certificates-list div:hover {
	background-color: #FF5733;
	transform: translateY(-10px);
}

/*.certificates-list div img{
	width: 100%;
}*/

/*Portfolio*/

#portfolio {
	padding: 50px 0;
}

.work-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}

.work {
	width: 100%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.work img {
	width: 100%;
	height: 100%;
	object-fit: cover;;
	border-radius: 10px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0%;
	background: linear-gradient(rgba(0,0,0,0.6), #FF5733);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}

.layer h3 {
	font-weight: 500;
	margin-bottom: 20px;
}

.layer a {
	margin-top: 20px;
	color: #FF5733;
	text-decoration: none;
	font-size: 18px;
	line-height: 60px;
	background: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
}

.work:hover img{
	transform: scale(1.1);
}

.work:hover .layer {
	height: 100%;
}

.btn {
	display: block;
	margin: 50px auto;
	width: fit-content;
	border: 1px solid #FF5733;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
	transition: background	0.5s;
}

.btn:hover {
	background: #FF5733;
}

/*Contact*/

.contact-left {
	flex-basis: 35%;
}

.contact-right {
	flex-basis: 60%;
}

.contact-left p {
	margin-top: 30px;
}

.contact-left p i {
	color: #FF5733;
	margin-right: 15px;
	font-size: 25px;
}

.social-icons {
	margin-top: 30px;

}

.social-icons a {
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: transform 0.5s;
}

.social-icons a:hover {
	color: #FF5733;
	transform: translateY(-5px);
}

.btn.btn2 {
	display: inline-block;
	background: #FF5733;
}

.contact-right form {
	width: 100%;

}

form input, form textarea {
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin:	15px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

form .btn2 {
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}

.copyright	{
	width: 100%;
	text-align: center;
	padding: 25px;
	background: #262626;
	font-weight: 300;
	margin-top: 20px;
}

/*CSS for small screens*/
nav .fa-solid {
	display: none;
}

@media only screen and (max-width: 767px){

	.header-text {
		margin-top: 100%;
		font-size: 17px;
	}

	.header-text h1 {
		font-size: 30px;
	}

	nav {
		background: #080808;
/*		background: #ff004f;*/
		z-index: 999;
		padding: 13px;
	}

	nav .fa-solid {
		display: block;
		font-size: 25px;
		position: absolute;
		right: 40px;
		top: 18px;
	}

	nav a.home {
		font-size: 25px;
	}

	nav .home {
		top: 0px;
		font-weight: 200;
		position: absolute;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	nav ul {
		background: #FF5733;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100%;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;

	}

	nav ul li {
		display: block;
		margin: 25px;
	}

	nav ul li a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	nav ul .fa-solid {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	.sub-title {
		margin-top: 10px;
		font-size: 40px;
	}

	/*----------About-----------*/

	.about-col-1, .about-col-2 {
		flex-basis: 100%;
	}

	.about-col-1 img {
		width: 300px;
		margin-bottom: 30px;
	}

	.about-col-2 {
		font-size: 14px;
	}

	.tab-links {
		font-size: 16px;
		margin-right: 40px;
	}

	.about-col-2 .about-text{
		padding-right: 5px;
	}

	.about-col-2 {
		overflow: hidden;
	}

	/*----------Certificates----------*/

	.certificates-list {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.certificates-list div h2 {
		font-size: 25px;
	}

	.certificates-list div p {
		font-size: 15px;
	}

	.certificates-list div a {
		font-size: 13px;
	}

	/*----------Contact------------	*/


	.contact-left, .contact-right {
		flex-basis: 100%;
	} 

	.contact-right form button {
		font-size: 15px;
	}

	.copyright {
		font-size: 14px;
	}
}


@media only screen and (min-width:768px) and (max-width: 1024px) {
 
 	.header-text {
		margin-top: 90%;
		font-size: 25px;
	}


	.header-text h1 {
		font-size: 40px;
	}

	/*------Nav------*/

	nav {
		background: #080808;
/*		background: #ff004f;*/
		z-index: 999;
		padding: 30px;
	}

	nav .fa-solid {
		display: block;
		font-size: 40px;
		position: absolute;
		right: 50px;
		top: 30px;
	}

	nav .home {

		position: absolute;
		font-weight: 600;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	nav ul {
		background: #FF5733;
		position: fixed;
		top: 0;
		right: -300px;
		width: 300px;
		height: 100%;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;

	}

	nav ul li {
		display: block;
		margin: 35px;
	}

	nav ul li a {
		font-size: 25px;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	nav ul .fa-solid {
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For webkit-based browsers */
		-moz-tap-highlight-color: rgba(0, 0, 0, 0); /* For Firefox */
		-ms-tap-highlight-color: rgba(0, 0, 0, 0); /* For Internet Explorer/Edge */
		tap-highlight-color: rgba(0, 0, 0, 0); /* For some newer browsers */
	}

	/*-----------About----------*/

	.sub-title {
		font-size: 40px;
	}

	.about-col-1, .about-col-2 {
		flex-basis: 100%;
	}

	.about-col-1 img {
		margin-bottom: 30px;
	}

	.about-col-2 {
		font-size: 20px;
	}

	.tab-links {
		font-size: 23px;
		margin-right: 40px;
	}

	.about-col-2 .about-text{
		padding-right: 5px;
	}

	.about-col-2 {
		overflow: hidden;
	}

	.tab-contents ul li span {
		font-size: 20px;
	}



	/*-----------Certificates----------*/

	#certificates div p {
		font-size: 20px;
	}

	#certificates div a {
		font-size: 17px;
	}

	/*-----------Contact----------*/

	.contact-left, .contact-right {
		flex-basis: 100%;
	}

	.contact-left p {
		font-size: 22px;
	}

	.contact-left div a {
		font-size: 40px;
		margin-top: -15px;
		margin-bottom: 10px;
	}

	.copyright {
		font-size: 20px;
	}



	
}